version: 2

defaults: &defaults
  docker:
    - image: circleci/python:3.9.5
  working_directory: ~/project

prepare_venv: &prepare_venv
  run:
    name: Create venv
    command: |
      python3 -m venv venv
      source venv/bin/activate
      pip install --upgrade pip

jobs:
  test_app:
    <<: *defaults
    working_directory: ~/project/api
    steps:
      - *prepare_tox
      - run:
          name: Runnning app tests
          command: |
            tox
  
  deploy_app_to_heroku:
    <<: *defaults
    steps:
      - run:
          name: Deploy to Heroku
          command: |
            git subtree push --prefix api https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git main
  
  train_and_upload_regression_model:
    <<: *defaults
    working_directory: ~/project/packages/regression_model
    steps:
      - *prepare_tox
      - run:
          name: Fetch the data
          command: |
            tox -e fetch_data
      - run:
          name: Test the model
          command: |
            tox
      - run:
          name: Publish model to Gemfury
          command: |
            tox -e publish_model
  

workflows:
  version: 2
  regression_model:
    jobs:
      - test_app
      # - deploy_app_to_heroku:
      #     requires:
      #       - test_app
      #     filters:
      #       branches:
      #         only:
      #           - main
      - train_and_upload_regression_model:
          # ignore any commit on any branch by default
          branches:
            ignore: /.*/
          # only act on version tags
          tags:
            only: /^.*/
