version: 2.1


parameters:
  run-build-api-job:
    type: boolean
    default: false

  run-build-regression-model-job:
    type: boolean
    default: false


workflows:
  api:
    when: << pipeline.parameters.run-build-api-job >>
    jobs:
      - test_app
      - deploy_app_to_heroku:
          <<: *main_only
          requires:
            - test_app

  regression-model:
    when: << pipeline.parameters.run-build-regression-model-job >>
    jobs:
      - train_regression_model
